<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alte Rinne 14 - IOT Regeln</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<h1>
	Alte Rinne 14 - IOT Regeln
</h1>
<table id="T"><tr><th></th><th>Regel</th></tr>
{% for item in eintraege %}
<tr>
  <td><a href="/aktion/remove/{{ item[1] }}"><small><i class="fas fa-minus"></i></small></a></td>
  <td><a id="L" href="/action/{{ item[1] }}">{{ item[0] }}</a></td>
</tr>
{% endfor %}
<tr><td><a href="/aktion/add"><small><i class="fas fa-plus"></i></small></a></td></tr>
</table>
Regeln geändert? Dann <a href="/reloadaktions">hier</a> neu laden
</body>
</html>