<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alte Rinne 14 - IOT Regel-Details </title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<h1>
	Alte Rinne 14 - IOT Regel-Details
</h1>
<h2>Regel: {{ actionname }}</h2>
<p>Gerät:{{ device }} ({{ deviceid }})</p>
<h3>Trigger</h3>
<datalist id="trigger_liste">
{% for item in trigger_liste %}<option value="{{ item }}">{% endfor %}
</datalist>
<form action="/submitchange">
<table>
    <tr>
      <th></th>
      <th>Topic</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
<script>
  var max_cond = 3;
  var edit_cond = [0,0,0];
</script>
{% for item in trigger %}
    <tr>
      <td><i onclick="cond_edit(1)" class="fas fa-edit"></i></td>
      <td><input onchange="a0_change(1)"  type="list"   id="cond_1a0" name="a0" value="{{ item[0] }}" list="trigger_liste" disabled></td>
      <td><input onchange="a_change(1,1)" type="text"   id="cond_1a1" name="a1" value="{{ item[1] }}" disabled>
          <input onchange="t_change(1,1)" type="time"   id="cond_1t1" value="" style="display:none" disabled>
          <input onchange="n_change(1,1)" type="number" id="cond_1n1" value="" style="display:none" disabled></td>
      <td><input onchange="a_change(1,2)" type="text"   id="cond_1a2" name="a2" value="{{ item[2] }}" disabled>
          <input onchange="t_change(1,2)" type="time"   id="cond_1t2" value="" style="display:none" disabled>
          <input onchange="n_change(1,2)" type="number" id="cond_1n2" value="" style="display:none" disabled></td>
      <td><input type="submit"                          id="cond_1submit" value="ok" style="display:none"></td>
    </tr>
    <input type="hidden" id="typ" name="typ"  value="trigger">
    <input type="hidden" id="lfdnr" name="lfdnr"  value="{{item[3]}}">
    <input type="hidden" id="actionid" name="actionid"  value="{{actionid}}">
  {% endfor %}
  </table>
</form>
<h3>Bedingungen</h3>
<datalist id="cond_liste">
  {% for item in cond_liste %}<option value="{{ item }}">{% endfor %}
</datalist>
<table id="T">
<tr>
  <th></th>
  <th>Typ</th>
  <th>Min</th>
  <th>Max</th>
</tr>
{% for item in conditions %}
<form action="/submitchange">
<tr>
  <td><i onclick="cond_remove({{ item[3] }})" class="fas fa-minus"></i>
      <i onclick="cond_edit({{-loop.index+2-}})" class="fas fa-edit"></i></td>
  <td><input onchange="a0_change({{-loop.index+2-}})"  type="list"   id="cond_{{-loop.index+2-}}a0" name="a0" value="{{ item[0] }}" list="cond_liste" disabled></td>
  <td><input onchange="a_change({{-loop.index+2-}},1)" type="text"   id="cond_{{-loop.index+2-}}a1" name="a1" value="{{ item[1] }}" disabled>
      <input onchange="t_change({{-loop.index+2-}},1)" type="time"   id="cond_{{-loop.index+2-}}t1" value="" style="display:none" disabled>
      <input onchange="n_change({{-loop.index+2-}},1)" type="number" id="cond_{{-loop.index+2-}}n1" value="" style="display:none" disabled></td>
  <td><input onchange="a_change({{-loop.index+2-}},2)" type="text"   id="cond_{{-loop.index+2-}}a2" name="a2" value="{{ item[2] }}" disabled>
      <input onchange="t_change({{-loop.index+2-}},2)" type="time"   id="cond_{{-loop.index+2-}}t2" value="" style="display:none" disabled>
      <input onchange="n_change({{-loop.index+2-}},2)" type="number" id="cond_{{-loop.index+2-}}n2" value="" style="display:none" disabled></td>
  <td><input type="submit"                                           id="cond_{{-loop.index+2-}}submit" value="ok" style="display:none"></td>
</tr>
<input type="hidden" id="typ" name="typ"  value="condition">
<input type="hidden" id="lfdnr" name="lfdnr"  value="{{item[3]}}">
<input type="hidden" id="actionid" name="actionid"  value="{{actionid}}">
</form>
<script>
  max_cond++;
  edit_cond.push(0);
</script>
{% endfor %}
<!-- <tr><td><a href="/condition/add/{{ actionid }}"><small><i class="fas fa-plus"></i></small></a></td></tr> -->
<form action="/add_condition">
  <tr>
  <td>
    <i onclick="cond_edit(0)" class="fas fa-plus"></i>
  </td>
  <td><input onchange="a0_change(0)" type="list"    id="cond_0a0" name="a0" value="" style="display:none" list="cond_liste" disabled></td>
  <td><input onchange="a_change(0,1)" type="text"   id="cond_0a1" name="a1" value="" style="display:none" disabled>
      <input onchange="t_change(0,1)" type="time"   id="cond_0t1" value="" style="display:none" disabled>
      <input onchange="n_change(0,1)" type="number" id="cond_0n1" value="" style="display:none" disabled></td>
  <td><input onchange="a_change(0,2)" type="text"   id="cond_0a2" name="a2" value="" style="display:none" disabled>
      <input onchange="t_change(0,2)" type="time"   id="cond_0t2" value="" style="display:none" disabled>
      <input onchange="n_change(0,2)" type="number" id="cond_0n2" value="" style="display:none" disabled></td>
      <input type="hidden" name="actionid" value="{{ actionid }}">
  <td><input type="submit"                          id="cond_0submit" value="ok" style="display:none"></td>
</tr>
</form>
</table>
<h3>Aktion</h3>
<datalist id="action_liste">
  {% for item in action_liste %}<option value="{{ item }}">{% endfor %}
</datalist>
<form action="/submitchange">
  <table id="T">
    <tr>
      <th></th>
      <th>Typ</th>
      <th>Arg 1</th>
      <th>Arg 2</th>
    </tr>
{% for item in action %}
    <tr>
      <td><i onclick="cond_edit(2)" class="fas fa-edit"></i></td>
      <td><input onchange="a0_change(2)"  type="text"   id="cond_2a0" name="a0" value="{{ item[0] }}" disabled></td>
      <td><input onchange="a_change(2,1)" type="list"   id="cond_2a1" name="a1" value="{{ item[1] }}" list="action_liste" disabled>
          <input onchange="t_change(2,1)" type="time"   id="cond_2t1" value="" style="display:none" disabled>
          <input onchange="n_change(2,1)" type="number" id="cond_2n1" value="" style="display:none" disabled></td>
      <td><input onchange="a_change(2,2)" type="text"   id="cond_2a2" name="a2" value="{{ item[2] }}" disabled>
          <input onchange="t_change(2,2)" type="time"   id="cond_2t2" value="" style="display:none" disabled>
          <input onchange="n_change(2,2)" type="number" id="cond_2n2" value="" style="display:none" disabled></td>
      <td><input type="submit"                          id="cond_2submit" value="ok" style="display:none"></td>
    </tr>
    <input type="hidden" id="typ" name="typ"  value="action">
    <input type="hidden" id="lfdnr" name="lfdnr"  value="{{item[3]}}">
    <input type="hidden" id="actionid" name="actionid"  value="{{actionid}}">
{% endfor %}
  </table>
</form>
<p><a href="/actions">zurück</a></p>
<script>

  function all_edits_off() {
    for (i = 0; i < max_cond; i++) {
      sub = document.getElementById("cond_"+i+"submit");
      sub.style.display = (edit_cond[i] == 1)?"inline":"none"; 
      a0 = document.getElementById("cond_"+i+"a0");
      a0.disabled=(edit_cond[i] == 1)?0:1;
      a0.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";        
      for (j = 1; j < 3; j++ ) {
        a = document.getElementById("cond_"+i+"a"+j);
        a.disabled=(edit_cond[i] == 1)?0:1;
        t = document.getElementById("cond_"+i+"t"+j);
        t.disabled=(edit_cond[i] == 1)?0:1;
        n = document.getElementById("cond_"+i+"n"+j);
        n.disabled=(edit_cond[i] == 1)?0:1;
        switch(a0.value) {
          case "zeit":
          a.style.display = "none";
          t.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
          n.style.display = "none";
        break;
          case "hell":
          n.min ="0";
          n.max="4096";
          n.step="1";
          a.style.display = "none";
          t.style.display = "none";
          n.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
        break;
          case "temp":
          n.min ="-30";
          n.max="50"; 
          n.step="0.1";
          a.style.display = "none";
          t.style.display = "none";
          n.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
        break;
          case "rollo_last_move":
          n.min ="0";
          n.max=1000*86400; 
          n.step="100";
          a.style.display = "none";
          t.style.display = "none";
          n.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
        break;
          case "rollo_pos":
          n.min ="-1";
          n.max="100"; 
          n.step="1";
          a.style.display = "none";
          t.style.display = "none";
          n.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
        break;
          case "rollo_mode":
          n.min ="0";
          n.max="1"; 
          n.step="1";
          a.style.display = "none";
          t.style.display = "none";
          n.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
        break;
        default:
          a.style.display = ((i>0) || (edit_cond[i] == 1))?"inline":"none";
          t.style.display = "none";
          n.style.display = "none";
        break;
        }
      }
    }
  }

  function cond_edit(n) {
    for(i = 0; i < max_cond; i++) {
      if((i == n) && (edit_cond[i] == 0)) {
        edit_cond[i] = 1;
      } else {
        edit_cond[i] = 0;
      }
    }
    all_edits_off();
  }

  function cond_remove(n) {
    if ( confirm("Bedingung löschen (kein Undo!)") ) {
      window.location.assign("/delete_condition?lfdnr="+n);
    }
  }

  function a0_change(n) {
    all_edits_off();
  }

  function a_change(n,m) {
    input_a = document.getElementById("cond_"+n+"a"+m);
    input_t = document.getElementById("cond_"+n+"t"+m);
    input_n = document.getElementById("cond_"+n+"n"+m);
    sek = parseInt(input_a.value);
    if(isNaN(sek)) {
      input_t.value = "";
    } else {
      seku = sek;
      stunde = Math.floor(sek/3600);
      sek -= stunde*3600;
      if (stunde<10)
        stunde = "0"+stunde;
      minute = Math.floor(sek/60);
      // sek -= minute*60;
      if (minute<10)
        minute = "0"+minute;
      // if (sek<10)
      //   sek = "0"+sek;
      zeit = stunde + ":" + minute; // + ":"+ sek;
      input_t.value = zeit;
    }
    zahl = Number(input_a.value);
    if(isNaN(zahl)) {
      input_n.value = "";
    } else {
      input_n.value = zahl;
    } 
  }

  function t_change(n,m) {
    a = document.getElementById("cond_"+n+"a"+m);
    t = document.getElementById("cond_"+n+"t"+m);
		text = "2000-01-01T"+t.value+":00";
		zeit = new Date(text);
		a.value = (zeit.getHours() * 60 + zeit.getMinutes()) * 60;
  }

  function n_change(n,m) {
    a = document.getElementById("cond_"+n+"a"+m);
    n = document.getElementById("cond_"+n+"n"+m);
		a.value = n.value;
  }

  all_edits_off();
  for (i = 0; i < max_cond; i++) {
    a_change(i,1);
    a_change(i,2);
  }  
  </script>
  </body>
</html>