<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alte Rinne 14 - Add Condition</title>
<body>
<h1>
	Alte Rinne 14 - Bedingung hinzufügen
</h1>
<form action="/addcond">
<label for="a0">Typ:</label><br>
<input type="list" list="liste" id="a0" name="a0" value="">
<datalist id="liste">
{% for item in eintraege %}
<option value="{{ item }}">
{% endfor %}
</datalist>
<br>
<label for="a1">Mindestwert:</label><br>
<input type="text" id="a1" name="a1" value="">
<input type="time" id="a1_time" value="" style="display:none">
<input type="number" id="a1_number" value="" style="display:none"><br>
<label for="a2">Maximalwert:</label><br>
<input type="text" id="a2" name="a2" value="">
<input type="time" id="a2_time" value="" style="display:none">
<input type="number" id="a2_number" value="" style="display:none"><br>
<input type="hidden" id="action_id" name="action_id"  value="{{action_id}}">
<input type="submit" value="Submit">
</form>
<a href="/action/{{action_id}}">zurück</a>
<script>
	var input_a0 = document.getElementById("a0");
	input_a0.addEventListener("change", changeInputType); 
	
	var input_a1 = document.getElementById("a1");
	var input_a1_time = document.getElementById("a1_time");
	input_a1_time.addEventListener("change", changeTime1);
	var input_a1_number = document.getElementById("a1_number");
	input_a1_number.addEventListener("change", changeNumber1);
	
	var input_a2 = document.getElementById("a2");
	var input_a2_time = document.getElementById("a2_time");
	input_a2_time.addEventListener("change", changeTime2);
	var input_a2_number = document.getElementById("a2_number");
	input_a2_number.addEventListener("change", changeNumber2);
	
	function changeTime1() {
		text = "2000-01-01T"+input_a1_time.value+":00";
		zeit = new Date(text);
		input_a1.value = (zeit.getHours() * 60 + zeit.getMinutes()) * 60;
	}
	
	function changeTime2() {
		text = "2000-01-01T"+input_a2_time.value+":00";
		zeit = new Date(text);
		input_a2.value = (zeit.getHours() * 60 + zeit.getMinutes()) * 60;
	}
	
	function changeNumber1() {
		input_a1.value = input_a1_number.value;
		// document.getElementById("test").innerHTML = input_a1_number.value;
	}
	
	function changeNumber2() {
		input_a2.value = input_a2_number.value;
	}
	
	function changeInputType() {
	  hideAllInputElements();
	  switch(input_a0.value) {
		  case "zeit":
			input_a1_time.style.display = "inline";
			input_a2_time.style.display = "inline";
		break;
		  case "hell":
			input_a1_number.min ="0";
			input_a1_number.max="4000";
			input_a1_number.step="1";
			input_a1_number.style.display = "inline";
			input_a2_number.min ="0";
			input_a2_number.max="4000"; 
			input_a2_number.step="1";
			input_a2_number.style.display = "inline";
		break;
		  case "temp":
			input_a1_number.min ="-30";
			input_a1_number.max="50"; 
			input_a1_number.step="0.1";
			input_a1_number.style.display = "inline";
			input_a2_number.min ="-30";
			input_a2_number.max="50"; 
			input_a2_number.step="0.1";
			input_a2_number.style.display = "inline";
		break;
		  case "rollo_last_move":
			input_a1_number.min ="0";
			input_a1_number.max=1000*86400; 
			input_a1_number.step="100";
			input_a1_number.style.display = "inline";
			input_a2_number.min ="0";
			input_a2_number.max=1000*86400; 
			input_a2_number.step="100";
			input_a2_number.style.display = "inline";
		break;
		  case "rollo_pos":
			input_a1_number.min ="-1";
			input_a1_number.max="100"; 
			input_a1_number.step="1";
			input_a1_number.style.display = "inline";
			input_a2_number.min ="-1";
			input_a2_number.max="100"; 
			input_a2_number.step="1";
			input_a2_number.style.display = "inline";
		break;
		  case "rollo_mode":
			input_a1_number.min ="0";
			input_a1_number.max="1"; 
			input_a1_number.step="1";
			input_a1_number.style.display = "inline";
			input_a2_number.min ="0";
			input_a2_number.max="1"; 
			input_a2_number.step="1";
			input_a2_number.style.display = "inline";
		break;
		default:
			input_a1.style.display = "inline";
			input_a2.style.display = "inline";
		break;
	  }
	}
	
	function hideAllInputElements() {
			input_a1.style.display = "none";
			input_a1_time.style.display = "none";
			input_a1_number.style.display = "none";
			input_a2.style.display = "none";
			input_a2_time.style.display = "none";
			input_a2_number.style.display = "none";
	}
	
</script>
</body>
</html>