<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Alte Rinne 14 - Bew&auml;sserung</title>

<body>
	<script>
		function upt(was,scale) {
			val = document.getElementById(was).value;
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () { };
			xhttp.open("GET", "/set_bew?was=" + was + "&wieviel=" + val*scale, true);
			xhttp.send();
		}
	</script>
	<h1>
		Alte Rinne 14 - Bew&auml;sserung
	</h1>
	<table id="T">
		<tr>
			<th>Dauer</th>
			<th>Periode</th>
			<th>Wann wieder</th>
			<th>Wasser</th>
		</tr>
		<tr>
			<td><input id="Dauer" type="number" min="0" max="180" onChange="upt('Dauer',1)" value="{{ D }}"></td>
			<td><input id="Frequenz" type="number" step="0.25" min="1" max="168" onChange="upt('Frequenz',3600)" value="{{ F }}">[h]</td>
			<td><input id="Next" type="number" min="0" max="168" onChange="upt('Next',3600)" value="{{ N }}">[h]</td>
			<td>{{ W }}</td>
		</tr>
	</table>
	<p><a href="/">zurück</a></p>
</body>

</html>