<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
	<style>
		body {
			font-family: "Roboto", sans-serif
		}

		.w3-bar-block .w3-bar-item {
			padding: 16px;
			font-weight: bold;
		}
	</style>
	<script type="text/javascript">

		var myTimer = setInterval(Werte_Init, 10000);

		function Werte_Init() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var obj = JSON.parse(this.responseText);
				}
			}
			xhttp.open("GET", "status", true);
			xhttp.send();
		}
	</script>
	<title>Alte Rinne 14 - Iot Geräte</title>
</head>

<body onload="Werte_Init()">

		<header class="w3-container w3-theme" style="padding:64px 32px">
			<h1 class="w3-xxxlarge">Alte Rinne 14</h1>
		</header>

		<div class="w3-container" style="padding:32px">
			<h2 id="iot">
				IOT Geräte und Regeln
			</h2>
			<table id="T">
				<tr>
					<th>Gerät <a href="/devices"><small>...</small></a></th>
					<th>Beschreibung</th>
				</tr>

				{% for item in eintraege %}
				<tr>
					<td><a id="L" href="{{ item[1] }}">{{ item[0] }}</a></td>
					<td>{{ item[2] }}</td>
				</tr>
				{% endfor %}
			</table>
			<p>
				Konfigurierte Regeln <a href="/actions"><small>...</small></a>
			</p>
	<footer><a href="/">zurück</a></footer>
</body>
</html>
